.root {
  padding: 10px;
}
.project {
  max-width: 400px;
  margin-top: 20px;
}
.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.footer {
  margin: 0 0 0 10px;
  color: lightgray;
}

.footer > a {
  color: lightgray;
}