<div *ngIf="project$ | async; then show; else loading"></div>
<ng-template #show>
  <div class="root">
    <h3>{{ (project$ | async)?.name}}</h3>
    <p>Owner: {{ (project$ | async)?.ownerName }}</p>
    <p>{{ (project$ | async)?.description }}</p>
    <p>Start date: {{ (project$ | async)?.startDate | date }}</p>
    <p>End date: {{ (project$ | async)?.endDate | date}}</p>
    <p>Status: {{ EStatus[(project$ | async)?.status] }}</p>
    <button [routerLink]="['edit']" class="leftButton">Edit project</button>
    <button (click)="deleteProject()">Delete project</button>
  </div>
</ng-template>
<ng-template #loading>
  <mat-spinner class="paddingTen"></mat-spinner>
</ng-template>
