.root {
  padding: 10px;  
}
.project {
  max-width: 400px;
  margin-top: 10px;
}
.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.task {
  max-width: 400px;
  margin-top: 10px;
}

table {
  width: 100%;
}

.mat-card-actions {
  padding: 0 0 0 10px;
}