<div *ngIf="project$ | async; then show; else loading"></div>
<ng-template #show>
  <div class="root">
    <mat-card class="project">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>
          {{ (project$ | async)?.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{ (project$ | async)?.description }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Owner: {{ (project$ | async)?.ownerName }}</p>
        <p>Status: {{ EStatus[(project$ | async)?.status] }}</p>
        <p>Start date: {{ (project$ | async)?.startDate | date }}</p>
        <p>End date: {{ (project$ | async)?.endDate | date}}</p>
        <p>Tasks....</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn" (click)="deleteProject()">Delete project</button>
        <button mat-stroked-button color="primary" [routerLink]="['edit']">Edit project</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
<ng-template #loading>
  <mat-spinner class="paddingTen"></mat-spinner>
</ng-template>